p
{
  font-size: 15px;
  font-family: sans-serif;
}
.title
{
  font-weight: bold;
}
table
{
    align: center
    border-spacing: 3px;
}
tr,td
{
    background-color: black;
    font-weight: bold;
    color: white;
    text-align: center;
    border: 5px solid blue;
}

body
{
    background-image: url(calmBlue.jpg);
    background-repeat: repeat;
    background-attachment:fixed;
}
